.FamousFaces {
  text-align: center;
}

.FamousFaces-logo {
  animation: FamousFaces-logo-spin infinite 20s linear;
  height: 80px;
}

.FamousFaces-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.FamousFaces-title {
  font-size: 1.5em;
}

.FamousFaces-intro {
  font-size: large;
}

@keyframes FamousFaces-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
