<section id="{{ .section.section_id }}" class="block features-block bg-{{ .section.bg }} outer">
  <div class="block-header inner-small">
    {{ if .section.title }}
    <h1 class="block-title">{{ .section.title }}</h1>
    {{ end }}
    {{ if .section.subtitle }}
    <p class="block-subtitle">
      {{ .section.subtitle }}
    </p>
    {{ end }}
  </div><!-- .block-header -->
  {{ if .section.featureslist }}
  <div class="inner">
    {{ range $feature := .section.featureslist }}
    <div class="block-item">
      <div class="grid">
        {{ if $feature.image }}
        <div class="cell block-preview">
          <img src="{{ $feature.image | relURL }}" alt="{{ $feature.title }}" />
        </div><!-- .block-preview -->
        {{ end }}
        <div class="cell block-content">
          <h3 class="block-subtitle">{{ $feature.pretitle }}</h3>
          <h3 class="block-title">{{ $feature.title }}</h3>
          <h4 class="block-subtitle">{{ $feature.subtitle }}</h4>
          <div class="block-copy">
            {{ partial "markdownify-block" $feature.content }}
          </div>
          {{ if $feature.actions }}
            <div class="action-button">
            {{ $include_dict := dict "actions" $feature.actions }}
            {{ partial "cta_buttons.html" $include_dict }}
          </div>
          {{ end }}
        </div><!-- .block-content -->
      </div><!-- .grid -->
    </div><!-- .block-item -->
    {{ end }}
    </div><!-- .inner -->
  {{ end }}
</section><!-- .block -->
